.fullheight {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100vh;
}

.fullheight header {
    height: min-content;
}

.fullheight main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.fullheight header,
.fullheight footer {
    line-height: normal;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.container--narrow {
    max-width: 40rem;
}

.content-sidebar {
    display: flex;
    flex-wrap: wrap;
}

.split {
    display: flex;
    flex-flow: column;
}

/* Add complexity */
@media (min-width: 45em) {
    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }

    .split > * + * {
        margin-left: 2em;
    }
}