$col-primary-200: rgb(245, 245, 230);
$col-primary-300: rgb(192, 159, 86);

$col-accent-400: rgb(13, 133, 133);
$col-accent-600: rgb(2, 42, 61);

$col-neutral-100: #eee;
$col-neutral-900: #111;

$ff-primary: 'Glegoo', serif;
$ff-accent: 'Roboto Slab', serif;
$ff-accent-alt: 'Lato', sans-serif;
