$col-primary-100: #fffcf2;
$col-primary-300: #ccc5b9;

$col-accent-300: #eb5e28;

$col-secondary-500: #403d39;
$col-secondary-800: #252422;

$col-neutral-100: #f3f3f3;
$col-neutral-900: #0c0c0c;

$ff-primary: 'Glegoo', serif;
$ff-accent: 'Roboto Slab', serif;
$ff-accent-alt: 'Lato', sans-serif;
